.vscode/**
.vscode-test/**
node_modules/**
client/node_modules/**
server/node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/src/**/*.ts
client/src/**
server/src/**
.eslintrc.json
BUILD.md
QUICKSTART.md
SUMMARY.md
test.taml
